/* Common Design */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin-bottom: 120px;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background-color: #ff0000;
    color: white;
}
/* Font Design */

.merriweather-banner{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


.inter-section{
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-style:normal;
}

/* Banner Design */
.banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
    background-image: linear-gradient(to right, rgba(7, 2, 17,1), rgba(7,2,17,0)),url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner h1{
    font-weight:400;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 16px;
}
.banner h2{
    font-weight:900;
    font-size: 72px;
    line-height: 95px;
    color: #ffffff;
}

/* Offer Section Design */

.offer-header h1{
    font-weight:bold;
    font-size: 88px;
    color: #ff0000;
    margin-bottom: 48px;
}
.offer-text h2{
    font-weight:500px ;
    font-size:24px ;
    color: #ff0000;
}
.offer-text h3{
    font-weight:bold ;
    font-size:48px ;
    color:#070211 ;
}
.offer-text{
    margin-bottom: 48px;
}
.offer-image img{
    display: flex;
}

/* Join now section design */

.join-now-description{
    width: 40%;
}

.join-now-description h1{
    font-weight: 900;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 11%;
    color: white;
    margin-bottom: 24px;
}

.join-now-description p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255,255,0.8);
    margin-bottom: 48px;
}

.jn{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.join-now{
    background-image:linear-gradient(to right, rgba(7, 2, 17,1), rgba(7,2,17,0)), url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    border-radius: 16px;
    margin-left: 140px;
    margin-right: 140px;
}
.join-now-image{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

/* Join Now Form Design */
.join-now-detail{
    background-color: rgba(255, 0,0,0.1);
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
}
.join-now-detail p{
    font-weight: 600;
    font-size: 32px;
    line-height: 56px;
}
.join-now-detail-title{
    color:#ff0000;
}
.join-now-text{
    margin-bottom: 48px;
}
.join-now-container{
    padding: 100px 385px;
}
/* Portfolio design */
.portfolio{
    margin-left: 140px;
    margin-right: 140px;
}
.portfolio-image-album-row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.portfolio-image-album-row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
.portfolio-description h1{
    font-weight: 500;
    font-size: 24px;
    color: #ff0000;
    margin-bottom: 16px;
}
.portfolio-description h2{
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}
.portfolio-description p{
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17,0.6);
    margin-bottom: 48px;
}